*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

body{
  font-family: 'Inter',sans-serif;
}

.container{
  width: 90%;
  margin: 0 auto;
}

button{
  cursor: pointer;
  border: none;
}

input{
  outline: none;
  border: none;
}


